.product-container {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  gap: 20px;
}

.loading {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .product-container {
    grid-template-columns: 200px 200px;
  }
}